@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    --shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --accent: #3351ad;
    --accent_tran: #1313139b;
    --accent_hover:#4b03a3;
    --accent_disabled:#7307f73b;
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-style: normal;
    list-style: none;
    border:none;
    outline:none;
    text-decoration: none;
    font-weight:400;
    scroll-behavior: smooth;
}


.header{
    width:auto;
    max-width:100%;
    height:60px;
    display:flex;
    justify-content: space-between;
    position:fixed;
    top:0;
    left:0;
    z-index:10000;
}




.logo_cont{
    height:100%;
    width:300px;
}

.logo_cont a{
    color:white;
}

.mid_cont{
    width:1200px;
    height:100%;
}

.last_cont{
    width:300px;
    height:100%;
}


.mid_cont ul, .last_cont ul{
    width:100%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content: space-around;
    transition:.5s;
}

.mid_cont ul{
    width:800px;
    margin:0 auto;
}


.mid_cont ul li, .last_cont ul li{

    list-style: none;
    color:black;
    font-weight: 500;
    font-size:14px;
    text-transform: capitalize;
    letter-spacing: 1px;
    height:20px;
}


.mid_cont ul li span{
    margin-top:3px;
    border-bottom: 3px solid white;
    width:60%;
    margin-left:auto;
    margin-right:auto;
    display:none;
}

.mid_cont ul li:hover span{
    display:block;
    animation:span .2s ease-in-out;
}


@keyframes span {
    from{
        width:0;
        opacity:0;
    }

    to{
        width:60%;
        opacity:1;
    }
}


.logo_cont{
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight:600;
    font-size:18px;
    color:var(--accent_reso);
    cursor:default;
}


.hero{
    width:100%;
    height:auto;
    min-height:600px;
    padding-bottom:100px;
}


.header{
    background: transparent;
}

.header ul li{
    color:white;
}


.header_bordered{
    background: #00000089;
    animation:flow .3s ease;
}


@keyframes flow {
    from{
        background: transparent;
    }

    to{
        background: #00000089;
    }
}

@keyframes flow_reverse {
    from{
        background: #00000089;
    }

    to{
        background: transparent;
    }
}

.overlay{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background: var(--accent_tran);
    padding-top:1px;
}