#map {
    height: 100%;
    width: 100%;
  }


  .container{
    width:100%;
    height:600px;
    padding-top:1px;
    position: relative;
  }

  .cent{
    width:1200px;
    height:600px;
    margin:0 auto;
    margin-top:30px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 26px;
  }


  .loading{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: #000000a1;
    z-index:9999999999999999999999999;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display:none;
  }

  .show{
    display:flex;
  }


  .gm-style .gm-control-active {
    display: none;
  }

  .loading h1{
    color:white;
    font-weight:700;
  }


.geo{
    width: 1000px;
    display:flex;
    justify-content: space-around;
}


  .show_geo, .get_geo{
    width:400px;
    height:60px;
    margin:40px 50px;
    border:2px solid black;
  }

  input{
    height:60px;
    margin:40px 50px;
  }


  .header{
    background: #00000089;
  }


  .searches{
    width:100%;
    height:100px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:80px;
    position:relative;
  }

  .locations{
    position:absolute;
    bottom:-152px;
    width: 750px;
    height:180px;
    background: var(--accent);
    padding-top:1px;
    z-index:999;
    display:none;
    /* opacity:0; */

  }


  .locations ul{
    width: 750px;
    height:180px;
    padding-top:1px;
    overflow-y: scroll;
  }

  
  .locations ul li{
    /* width:100%; */
    display:flex;
    color:white;
    font-weight:600;
    align-items: center;
    text-transform: capitalize;
    margin:12px;
    border-radius: 12px;
    cursor: pointer;
    transition: .3s ease;
    display:none;
    animation: subtle_rise .4s ease-in-out;
  }


  @keyframes subtle_rise {
    from{
      opacity: 0;
      transform: translateY(2px);
    }

    to{
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .locations ul li:hover{
    background: white;
    color:var(--accent_hover);
    transition: .3s ease;
  }

  .locations ul li i{
    font-size:16px;
    margin:0 12px;
  }

  .search_bar{
    width:800px;
    height:40px;
    border-radius: 24px;
    border: 2px solid black;
    padding:14px;
  }


#map{
  border-radius: 24px;
  border: 3px solid var(--accent_hover);
  /* box-shadow: var(--shadow); */
}


.area i{
  color:white;
  margin:0 12px 0 0;
}
  


  .search_bar::placeholder{
    color:black;
  }

  button{
    /* opacity:0; */
  }


.locations ul::-webkit-scrollbar {
    width: 6px;
} 
.locations ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px var(--accent_hover); 
    /* width:6px; */
} 
.locations ul::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgb(255, 255, 255); 
    width:6px;
}



/* HTML: <div class="loader"></div> */
.loader {
  width: 100px;
  display: grid;
  background: radial-gradient(farthest-side, #fff 98%, #0000) center/30px 100%
    no-repeat;
  --mask: 
    radial-gradient(12px at left 15px top 50%, #0000 95%, #000),
    radial-gradient(12px at center, #0000 95%, #000),
    radial-gradient(12px at right 15px top 50%, #0000 95%, #000);
  -webkit-mask: var(--mask);
          mask: var(--mask);
  -webkit-mask-composite: source-in;
          mask-composite: intersect;
  animation: l2 .5s infinite alternate;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  height: 30px;
  aspect-ratio: 1;
  background: #fff;
  border-radius: 50%;
}
.loader:after {
  margin-left: auto;
}
@keyframes l2 {
  to {
    width: 50px;
  }
}

.area{
  height:40px;
  min-width:100px;
  width:auto;
  align-items: center;
  padding:0 16px;
  border-radius: 12px;
  background: black;
  justify-content: center;
  margin:20px auto;
  position:absolute;
  bottom: -50px;
  z-index: 909999;
  left:42%;
  display:none;
}

.area h1{
  text-align: center;
  color:white;
  font-size:16px;
  /* width: 200px; */
}

.cus_buttons{
  width:45px;
  height:600px;
  position:absolute;
  left:50px;
  top:100px;
  display:flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  z-index: 999999;
}



.cus_buttons button{
  width:50px;
  height:50px;
  border-radius:50px;
  margin:30px auto;
  /* box-shadow: var(--shadow); */
  background: #000;
  justify-content: center;
  align-items: center;
  cursor:pointer;
  transition:.3s ease;
}


.vibe{
  display:none;
}


.cus_buttons button i{
  font-size:16px;
  color:white;
}


.cus_buttons button:hover{
  background: var(--accent);
  transition: .3s ease;
}

.selected{
  border:4px solid var(--accent_hover);
}

.vibe_rise{
  display:flex;
  animation: rise .4s ease;
}
